body{
    font-family: Roboto, sans-serif;
    color: #707070;
    font-weight: 300;
}

.navbar img{
    width: 5em;
}

.text-special{
    color: #212529; 
}

.location{
    font-size: 0.8rem;
} 

footer img{
    width: 4.5em;
}